// Estilos custom

/* Rules generales */
main {
    background: #fafafa;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
::placeholder {
  color: #ddd !important;
}
.actions-bar {
  margin-top: 0px;
  margin-bottom: 15px;
  // padding-top: 10px;
  // padding-bottom: 10px;
  // border-top: 1px solid #ebebebeb;
  // border-bottom: 1px solid #ebebebeb;

}
.fa-question-circle {
  color: lightgrey;
}

.card-header[role="tab"] {
  background: #f7f7f7;
}
/*
.card-header[role="tab"] a[aria-expanded="false"]::after,
.card-header[role="tab"] a[aria-expanded="true"]::after {
  font-family: 'FontAwesome';
  width: 10px;
  height: 10px;
  right: 20px;
  position: absolute;
  display: inline-block;
}
.card-header[role="tab"] a[aria-expanded="false"]::after {
  content: '\f107';
}
.card-header[role="tab"] a[aria-expanded="true"]::after {
  content: '\f106';
}
*/
.info-address {
  margin-top: 15px;
  margin-bottom: 15px;
}
.package-size::after{
  content: 'cms';
  position: absolute;
  left: 0px;
  width: 10px;
  height: 10px;
  display: inline-block;
}

.custom-file-label::after{
  content: "Elegir archivo";
}

.required-label::after {
  content:"*";
  opacity: 0.75;
  margin-left: 1px;
}

.tab-content{
  border: 0;
}

.cont-is-shipping .custom-control label::before,
.cont-is-shipping .custom-control label::after{
  top: 0.6rem!important;
}

::placeholder{ /* Firefox 18- */
  color: #ddd!important;
}

/* Fin Rules generales */

/* Dashboard index */

.p-title{
  display: inline-block;
}

.lg-card-icon{
  margin-left: 5px;
  font-size: 18px;
}

/* Fin Dashboard index */

/* Estilos tablas */
table td *,
table.table td *{
  white-space: normal;
  text-align: left;
}

table td a.btn-link,
table.table td a.btn-link{
  padding-top: 0;
  padding-bottom: 0;
}
table .btn,
table.table .btn {
  margin:2px auto;
}
table td,
table.table td,
table th,
table.table th {
  vertical-align: middle;
}
table .selection,
table.table .selection{
  width: 40px;
}

table .cost-actions,
table .cost-weight,
table .cost-discount{
  width: 160px;
}

table .fuel-cost-actions {
  width: 240px;
}




/* Fin Estilos tablas */

/* Sidebar derecho cotizaciones */
.circular-icon-cont{
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 20em;
  border: 1px solid #c3c3c3;
  margin-top: 15px;
}
.circular-icon-cont i{
  font-size: 30px;
  top: 10px;
  left: 15px;
  position: absolute;
  margin: 0 auto;
}
.currency-list .list-group-item.list-group-item-divider::before{
  background: #eee;
  width: 100%;
  left: 0;
  z-index: 999;
}
.currency-list hr.transparent{
  display: none;
}
.currency-list .list-group-item{
  pointer-events: none;
  margin-bottom: 0;
}
.list-group-item-gr{
  border-left: 4px solid #4ca84c;
}

.circular-icon-cont i.fa-usd{
  color: #4ca84c;
}

.circular-icon-cont i.fa-eur{
  color: #628aba;
}

.list-group-item-bl{
  border-left: 4px solid #628aba;
}

.circular-icon-cont i.fa-truck{
  color: #797979;
  left: 7px;
}

.list-group-item-bg{
  border-left: 4px solid #797979;
}

/* Fin Sidebar derecho cotizaciones */

input:read-only {
  //cursor: default;
  background: transparent !important;
  //border: none;
}

.brand-minimized .app-header .navbar-brand{
  width: auto!important;
}

.sidebar .nav-link .nav-icon{
  font-size: 1.25em;

}

/* Datepicker */

.flatpickr-calendar{
  max-width: 380px;
  max-height: 750px!important;
  width: 100%;
}
.flatpickr-rContainer{
  margin: auto;
  margin-bottom: 20px;
}
.flatpickr-month{
  margin-top: 10px;
  margin-bottom: 20px;
}
.flatpickr-months .flatpickr-prev-month:hover svg, .flatpickr-months .flatpickr-next-month:hover svg{
  fill: #20a8d8;
}
.flatpickr-month span{
  font-size: .875em;
}
.flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month{
  top: 10px;
}
.flatpickr-calendar .flatpickr-day{
  line-height: 36px;
}
.flatpickr-day.selected{
  background: #20a8d8;
  border: 1px solid #20a8d8;
}
.flatpickr-day.selected:hover{
  background: #167495;
  border: 1px solid #167495;
}
/*
.flatpickr-input{
  border: 1px solid #e4e7ea!important;
}
*/
.datepicker-group a.input-button{
  cursor: pointer;
}
/* Fin Datepicker */

/* Validación campos formulario */
.inv-feedback{
  // font-size: .75em;
  margin-top: 5px;
  color: #f86c6b;
  // width: 100%;
  text-align: right;
}
/*input[aria-invalid=true],
select[aria-invalid=true]{
  border-color: #f86c6b;
}*/
/*.required-i::after{
  content: "(*)";
  color: #f86c6b;
  margin-left: 10px;
}

/* Fin Validación campos formulario */

/* Estilos modal */

// Todos los modal

#modal-confirm footer button:last-of-type(){
  margin-left: 10px;
}
.modal-title{
  letter-spacing: initial;
}
#modal-confirm footer{
  justify-content: center;
}
#modal-confirm header{
  flex-direction: column-reverse;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 5px;
}
#modal-confirm .modal-body{
  background: #fff;
  color: #000;
}
#modal-confirm header .modal-title::before{
  font-family: 'FontAwesome';
  display: block;
  font-size: 1.15em;
  padding-top: 12px;
  border: 1px solid #fff;
  color: #fff;
  //background: #fff;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}
#modal-confirm header .modal-title{
  font-size: 1.65em;
  margin: 0 auto;
  line-height:  1.2;
  font-family: 'Montserrat';
  letter-spacing: initial;
  max-width: 95%;
}
#modal-confirm .prompt-col{
  margin: auto;
}
#modal-confirm .prompt-col p{
  margin-bottom: 0;
}

// Modal eliminar

.delete-modal header .modal-title{
  color: #fff;
}
.delete-modal header .modal-title::before{
  content: "\f12a";
}
.delete-modal .modal-header .close{
  color: #fff;
}
.delete-modal header{
  // background: linear-gradient(to right, #ff5150 0%,#fb7979 100%);
  background: #f86c6b;
  font-weight: 500;
  letter-spacing: .5px;
  // border-bottom: 4px solid #bc5555;
}

// Modal volver

.return-modal header .modal-title{
  color: #2f2f2f;
}
.return-modal header .modal-title::before{
  content: "\f071";
}
.return-modal .modal-body{
  background: #ffc107;
  color: #000;
}
.return-modal header{
  background: #ffc107;
  // border-bottom: 4px solid #dfaa0c;
  color: white;
}

// Modal default


// Modal importar

.import-modal header .modal-title{
  font-size: 1.4em;
}
.import-modal header{
  background: #20a8d8;
  color: #ffff;
  font-weight: 500;
}
input[type="file"]{
  cursor: pointer;
}

.import-modal .modal-header .close{
  color: #fff;
  align-self: center;
}

.import-modal .custom-file{
  width: 100%;
  height: 200px;
  box-shadow: 0px 1px 10px .51px #06050533;
}
.import-modal .custom-file-input{
  height: 200px;
}
.import-modal .custom-file-label::after{
  content: none;
}

.import-modal .b-form-file.is-invalid .custom-file-label{
  opacity: 0;
}
.import-modal .b-form-file.is-valid .custom-file-label{
  opacity: 1;
}
.import-modal .custom-file-label::before{
  content: 'Archivo seleccionado: '
}
.import-modal .custom-file-label:focus{
  box-shadow: 0px 1px 10px .51px #06050533;
}
.import-modal .custom-file-label{
  height: 200px;
  background: transparent;
  text-align: center;
  padding-top: 160px;
  border: none;
}
.import-modal .custom-file-input{
  display: block;
  width: 100%;
  margin: 0 auto;
  color: #ababab;
  font-size: 1.15em;
  bottom: 22px;
  position: absolute;
  text-align: center;
  padding: 0 32px;
}
.import-modal span.label-file{
  position: absolute;
  width: 100%;
  bottom: 150px;
  left: 0px;
  text-align: center;
}

.import-modal span.label-file::before{
  font-family: 'FontAwesome';
  content: "\f15b";
  font-size: 3em;
  color: #6ec6e5;
  opacity: .65;
  width: 100%;
  position: absolute;
  top: -80px;
  left: 0;
  text-align: center;
}


/* Fin Estilos modal */

/* Estilos accordions */

.card {
  overflow: hidden;
}

.card-header[role="tab"] a{
  color: #23282c;
  text-decoration: none;
  background: #f7f7f7!important;
  border: 0px;
  text-align: left;
  font-weight: bolder;
}
.card-header[role="tab"] a:hover{
  color: #167495;
}
.card-header[role="tab"] a:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.card-header[role="tab"] a:active{
  background-color:#f7f7f7!important;
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
}

.card-header[role="tab"] a::after{
  background:#a2a2a2;
  color: white;
  padding: 0  ;
  width: 42px;
  height: 42px;
  text-align: center;
  padding-top: 12px;
  font-size: .75em;
  font-weight: 300;
  right: 0;
  top: 0;
  -webkit-transition: .05s ease-in-out;
  transition: .05s ease-in-out;
  font-family: 'FontAwesome';
  position: absolute;
  display: inline-block;
}

.card-header[role="tab"] a[aria-expanded="false"]::after{
  //content: '\f067';
  content: '\f054';
}

.card-header[role="tab"] a[aria-expanded="true"]::after{
  // content: '\f068';
  content: '\f078';
  background: #20a8d8;
}

.card-header[role="tab"] a:hover::after{
  background: #20a8d8;
}
/* Fin Estilos accordions */
